nump==1.24.1
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
requests==2.28.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchstat==0.0.7
torchsummary==1.5.1
torchvision==0.16.2+cu121
tqdm==4.66.1
ultralytics==8.2.32
ultralytics-thop==0.2.8
wheel==0.41.2
psycopg2
